#events {
    background-color: #b0e0e6;
    width: 300px;
    height: auto;
   /* clear: left; */
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    border: solid;
    border-color: #000080;
}

#new-event {
    width: 280px;
    height: 4em;
}

div.event {
    margin-bottom: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    width: 280px;
}

div.event-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #000080;
    color: white;
}

div.event-description {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e8e3e3;
    min-height: 10px;
    color: black;
}  

#pipeline {
    background-color: #d3d3d3;
    width: 400px;
    height: auto;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    border: solid;
    border-color: gray;
}

div.category {
    margin-bottom: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin-left: 10px;
    width: 300px;
}

div.category-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: gray;
    color: white;
}

div.category-list {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e8e3e3;
    min-height: 10px;
}

div#blurb-list {
    border: solid;
    border-color: red;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    clear: left;
    float :left;
    background-color: #f9ccca;
    width: 300px;
    color: white;
}
 
div.blurb {
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    border: solid;
    border-width: 1px;
    color: white;
    background-color: red;
}

div.blurb-display {
    margin-left: 10px;
    padding: 10px;
    float: left;
    background-color: #e8e3e3;
    border-radius: 5px;
    border-color: black;
    border: solid;
}

#generate {
    clear: left;
}

