{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blurbs.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/generate-pipeline.js"></script>
{% endblock %}

{% block body %}

<div id="blurb-list">
    <h2>Approved blurbs</h2>
    {% for blurb in blurbs %}
    <div id="{{ blurb.id }}" class="blurb">{{ blurb.title }}</div>
    {% endfor %}
</div>

<div id="pipeline">
    <h2>Pipeline Contents
    <button id="new-category">New category</button>
    </h2>
</div>

<div id="events">
    <h2>Events 
    <button id="add-event">Add event</button>
    </h2>
    <textarea id="new-event"></textarea>
</div>

<form id="preview" action="" target="_blank" method="post">
{% csrf_token %}
<input type="submit" value="Preview"/>
</form>

<form id="download" action="" method="post">
{% csrf_token %}
<input type="hidden" name="download" value="1"/>
<input type="submit" value="Download"/>
</form>

{% endblock %}
