{% extends "base.html" %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block body %}
<form action="" method="post">
{% csrf_token %}
{% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}">
    {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
    {% endif %}
    <ul>
    {% for field in fieldset %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if forloop.parentloop.first %}
        <div style="float: left;">
        {% endif %}
        <li{{ field.row_attrs }}>
            {{ field.errors }}
            {{ field.label_tag }} <br/>
            {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {{ field }}
        </li>
        {% if forloop.parentloop.first %}
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  {% if forloop.last %}
    <input type="submit" value="Submit blurb"/>
  {% endif %}
  </fieldset>
{% endfor %}
</form>
{% endblock %}
