{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{{ form.media }}

<script type="text/javascript">
$(function() {
    $('li.required label').each(function() {
        $(this).html($(this).html() + ' <span style="color: red;">*</span>');
    });
});
</script>
{% endblock %}

{% block body %}
<form id="submit-blurb" enctype="multipart/form-data" action="" method="post">
{% csrf_token %}
{% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}">
    {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
    {% endif %}
    <ul>
    {% for field in fieldset %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if forloop.parentloop.first %}
        <div style="float: left;">
        {% endif %}
        <li{{ field.row_attrs }}>
            {{ field.errors }}
            {{ field.label_tag }} <br/>
            {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {{ field }}
        </li>
        {% if forloop.parentloop.first %}
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
  {% if forloop.last %}
     <li>Attachments <br/>
     {{ document_formset.management_form }}
     {% for document_form in document_formset %}
     <ul>
     <li>What is it? <br/>
     {{ document_form.title }}
     </li>
     <li>{{ document_form.data }}</li>
     </ul>
     {% endfor %}    
     </li>
     <input type="submit" value="Submit blurb"/>
  {% endif %}
  </ul>
  </fieldset>
{% endfor %}

</form>
{% endblock %}
