<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>EUS Pipeline</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" />
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="page-container">
        {% block logo %} <img src="{{ STATIC_URL }}img/euslogo.png"/> {% endblock %}
        <div id="body">
        {% block body %} {% endblock %}
        </div>
        </div>

    {% block extrajs %}
    {% endblock %}
    </body>
</html>
