html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', serif;
    /*background: white; */
    background-color: #f8f8f8;
    color: #585858;
}

a {
    color: #e83c3b;
}

#back, #symbol {
    margin-left: 30px;
}

#page-container {
    margin: auto;
}

#sidebar {
    float: left;
    width: 300px;
}

img {
    clear: left;
    padding: 10px;
}

#guidelines {
    float: left;
}

#header {
    color: #e83c3b;
/*    border-bottom: 1px solid black; */
    font-size: 1.2em;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

#body {
    margin-left: 10px;
    margin-top: 10px;
}

.help-text {
    color: #757574;
    font-size: 0.75em;
    width: 400px;
}

#submit-blurb {
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#submit-blurb fieldset {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    width: 800px;
 /*   border-color: #e83c3b; */
    border-color: white;
    color: #e83c3b;
}

#submit-blurb legend {
    padding: 0 2px;
}

#submit-blurb label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}

#submit-blurb fieldset ul {
    margin: 0;
    padding: 0;
}

#submit-blurb fieldset li {
    list-style: none;
    padding: 5px;
    margin: 0;
}

#submit-blurb input[type="text"] {
    font-size: 1.2em;
    width: 350px;
    border-color: #e8e3e3;
    border-width: 1px;
    padding: 0.5em;
}

#submit-blurb input[type="email"] {
    font-size: 1.2em;
    width: 350px;
    border-color: #e8e3e3;
    border-width: 1px;
    padding: 0.5em;
}

#submit-blurb textarea {
    width: 400px;
}

#id_comments {
    height: 100px;
}

.hidden {
    display: none;
}

ul.errorlist li {
    color: red;
}
