{% extends "base.html" %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}
{% block logo %}{% endblock %}
{% block body %}
<div id="sidebar">
<img src="{{ STATIC_URL }}img/euslogo.png"/>
<div id="guidelines">
<p>The EUS Pipeline aims to provide engineering students with pertinent
information regarding activities, events and opportunities. Please consider
the following general guidelines:</p>
<ul>
<li>Make sure blurbs include dates, start and end times, and relevant
    contact information.</li>
<li>Blurbs must be relevant and beneficial to engineering students. For
    more general blurbs, please consider using the
    <a href="http://ssmu.mcgill.ca/about-us/listserv/">SSMU listserv</a>.
</li>
<li>All blurbs are reviewed by the EUS VP Communications before appearing
on the pipeline.</li>
</ul>
<p>Thank <span style="color: #e83c3b">you</span> for using the EUS pipeline!</p>
<p id="back">Brought to you by the <a href="http://www.mcgilleus.ca/">EUS</a>.
<img id="symbol" src="{{ STATIC_URL }}img/symbol.png"/>
</div>
</div>
<form id="submit-blurb" enctype="multipart/form-data" action="" method="post">
{% csrf_token %}

{% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}">
    {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
    {% endif %}
    <ul>
    {% for field in fieldset %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if forloop.parentloop.first %}
        <div style="float: left;">
        {% endif %}
        <li{{ field.row_attrs }}>
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.field.required %}
              <span style="color: red;">*</span>
              {% endif %} <br/>
            {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {{ field }}
        </li>
        {% if forloop.parentloop.first %}
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
  {% if forloop.last %}
     {{ document_formset.management_form }}
     <li>Attachments
     <button data-bind="click: addAttachment">Add</button><br/>
     <!-- ko foreach: ko.utils.range(0, attachments() - 1) -->
     <ul>
       <li>What is it? <br/>
       <input type="text" maxlength="50"
              data-bind="attr: { name: 'document_set-' + $data + '-title' }" />
       </li>
       <li>
       <input type="file"
              data-bind="attr: { name: 'document_set-' + $data + '-data' }">
       </li>
     </ul>
     <!-- /ko -->
     </li>
     <input type="submit" value="Submit blurb"/>
  {% endif %}
  </ul>
  </fieldset>
{% endfor %}

</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/knockout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/blurb-form.js"></script>
{% endblock %}
